streamlit==1.11.0
streamlit-authenticator==0.1.5

matplotlib==3.7.1
seaborn == 0.12.2
Pillow  # PIL fork
pytesseract
PyYAML  # for handling YAML files
pdfminer  
pdf2image
Pillow  # PIL fork
base64  # Used for file encoding

